<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/caladea" type="text/css"/> 
	<link rel="stylesheet" href="/style/tailwind.css">
	<link rel="stylesheet" href="/style/backupstyle.css">
	<title>Serious Portfolio Title</title>
</head>
<body class = "bg-goldenrod min-h-full">
	<div class = "flex flex-col lg:flex-row justify-around lg:justify-between mb-12 mt-0 lg:mt-12 p-4 bg-salmon">
		<h1 class = "lg:text-3xl text-6xl">I make stuff : the list</h1>
		<div class = "flex flex-row">
			<a href = "/" class = "lg:text-lg text-4xl leading-loose transition duration-500 ease-in-out text-black hover:text-lightpink">about</a>
			<a href = "/development" class = "lg:text-lg text-4xl leading-loose ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">development</a>
			<a href = "/writing" class = "lg:text-lg text-4xl leading-loose ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">writing</a>
			<a href = "/projects" class = "lg:text-lg text-4xl leading-loose ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">group projects</a>
			<a href = "/blog" class = "lg:text-lg text-4xl leading-loose ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">blog</a>
		</div>
	</div>
	<div class = "w-full lg:w-5/6 mx-auto">
		{{{body}}}
		<div class = "bg-burlwood py-px"></div>
		<div class = "flex flex-row py-3 pr-5 justify-end">
			<a href="mailto:nathanaelsullivan@yahoo.com" class = "lg:text-base text-3xl ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">contact me</a>
			<a href="https://www.linkedin.com/in/ametdecrypt" class = "lg:text-base text-3xl ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">linkedin</a>
			<a href="https://github.com/ametueraspirant" class = "lg:text-base text-3xl ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">github</a>
			<a href="https://twitter.com/Ametueraspirant" class = "lg:text-base text-3xl ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">twitter</a>
			<a href="https://www.deviantart.com/ametueraspirant" class = "lg:text-base text-3xl ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">deviantart</a>
			<a href="https://www.youtube.com/channel/UCRJ9-iS-k9SS35gDnQm-yEQ" class = "lg:text-base text-3xl ml-5 transition duration-500 ease-in-out text-black hover:text-lightpink">youtube</a>
		</div>
	</div>
	<script type = "text/javascript" src = "/logic/click.js"></script>
</body>
</html>