<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/style/tailwind.css">
	<link rel="stylesheet" href="/style/backupstyle.css">
	<title>Serious Portfolio Title</title>
</head>
<body>
	{{{body}}}
	<script type = "text/javascript" src = "/logic/click.js"></script>
</body>
</html>