<div class = "flex flex-col lg:flex-row">
	<div class = "flex flex-col w-full lg:w-1/2">
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "lg:text-3xl text-5xl lg:py-0 py-5 text-center">Scraping the Bottom of the Barrel : "News news"</h1>
			<img src = "/pics/newsnewsnews.png" alt = "hanger">
			<p class = "mb-5 mx-3 lg:text-base text-4xl">
				Obnoxiously titled and designed News news Corps scrapes data from The Onion and stores the data in Mongo/Mongoose to load.
				I used Cheerio and Axios to facilitate scraping the site and Morgan to... log something.
				I also fully implemented Tailwind css as well as Purgecss as modules of Postcss to lower the final file size.
			</p>
			<p class = "mb-3 mx-3 lg:text-base text-4xl">
				Calming colors and paper patterns, just like a real online news source trying to harken to the nostalgia of paper paper, papers...
				If you wish, you can try it <a href = "https://stormy-coast-81838.herokuapp.com/" target = "_blank" class = "text-lightpink">here</a> on heroku.
			</p>
		</div>
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "lg:text-3xl text-5xl lg:py-0 py-5 text-center">An Exercise in Arrays : "Hang the Mann"</h1>
			<img src = "/pics/hamgnam.png" alt = "hanger">
			<p class = "mb-5 mx-3 lg:text-base text-4xl">
				Class project done to create a working hangman. 
				Focused on managing and searching arrays for data and dynamically editing the DOM.
				It took about a day but don't tell anyone I told you that.
			</p>
			<p class = "mb-3 mx-3 lg:text-base text-4xl">
				I added a bit of an old western narrative (and cookie monster) to spice things up, but the overall design could have been better.
				If you wish, you can try it <a href = "https://ametueraspirant.github.io/hang_the_mann/" target = "_blank" class = "text-lightpink">here</a> on github pages.
			</p>
		</div>
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "lg:text-3xl text-5xl lg:py-0 py-5 text-center">An Exercise in Arrays : "Train Scheduler"</h1>
			<img src = "/pics/trainscheduler.png" alt = "trains">
			<p class = "mb-5 mx-3 lg:text-base text-4xl">
				Class project to create a train schedule input and manager.
				It uses MomentJS in order to keep track of time and Firebase to hold all the data.
				MomentJS is painful to work with, but I'll be dogged if it doesn't produce results.
			</p>
			<p class = "mb-3 mx-3 lg:text-base text-4xl">
				The design is supposed... it's a... it looks like a train station. Real boring and lots of tile.
				If you wish, you can try it <a href = "https://ametueraspirant.github.io/train_schedules/" target = "_blank" class = "text-lightpink">here</a> on github pages.
			</p>
		</div>
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "lg:text-3xl text-5xl lg:py-0 py-5 text-center">Absurdism Crystallised and Distilled : "Friend Finder"</h1>
			<img src = "/pics/friendmaker.png" alt = "friendmanman">
			<p class = "mb-5 mx-3 lg:text-base text-4xl">
				Class project using a mix of technologies from express to... mostly express actually to serve up the pages to heroku.
				Yes, the questions don't make sense. Yes, the pictures are mildly disturbing. No, I don't regret a moment of it.
			</p>
			<p class = "mb-3 mx-3 lg:text-base text-4xl">
				The CSS was relatively simplistic this time around but I did put in a cool transition animation for when  the test was finished.
				If you wish (for whatever reason), you can try it <a href = "https://ancient-anchorage-37133.herokuapp.com/" target = "_blank" class = "text-lightpink">here</a> on heroku.
			</p>
		</div>
	</div>
	<div class = "flex flex-col w-full lg:w-1/2 pt-0 lg:pt-64">
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "lg:text-3xl text-5xl lg:py-0 py-5 text-center">A Word Which Here Means : "Role Play Game"</h1>
			<img src = "/pics/smashbros.png" alt = "smashbros">
			<p class = "mb-5 mx-3 lg:text-base text-4xl">
				Class project for DOM writing practice and logic systems.
				For the life of me I can't figure out how to get a reset system to work without just reloading the page.
				So that's what I did.
			</p>
			<p class = "mb-3 mx-3 lg:text-base text-4xl">
				Fingers crossed Nintendo never catches wind I used their precious IPs.
				If you wish, you can try it <a href = "https://ametueraspirant.github.io/RolePlayGame/" target = "_blank" class = "text-lightpink">here</a> on github pages.
			</p>
		</div>
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "lg:text-3xl text-5xl lg:py-0 py-5 text-center">A Year of My Life Lost to Refactoring : "Unnamed Platforming Engine"</h1>
			<img src = "/pics/jumper.png" alt = "friendmanman">
			<p class = "mb-5 mx-3 lg:text-base text-4xl">
				Switching gears for a moment, here's a personal project. Made in the same engine as In Somme Nia (GMS2) and still being worked on in my spare time.
				What exists now is a "basic" movement system that includes its own remedial physics simulation that I also had to program in.
				It's able to sense where the player is statewise and react with the environment accordingly.
				Also if the slime in the next room turns left it zooms off into the wall for no reason. so cute.
			</p>
			<p class = "mb-3 mx-3 lg:text-base text-4xl">
				I didn't actually draw anything here. It's all stock assets while I work on the basic engine.
				If you wish to take a look, the repository is <a href = "https://github.com/ametueraspirant/platformer_movement_engine" target = "_blank" class = "text-lightpink">here</a>.
				You'll need to download the free version of GMS2 or pay for a license, either way works.
			</p>
		</div>
	</div>
</div>