<div class = "w-1/2 mx-auto mb-10">
	<h1 class = "text-center text-3xl">I'm not good at selling myself</h1>
	<h2 class = "text-center text-xs mb-10">I don't know why I tell people this. It's not like it helps my case.</h2>
	<p class = "mb-4">
		Hi. I'm not sure what to title myself. On the one hand I'm fairly competent in several computer languages, including HTML, CSS, Javascript, GML, Python, and GDScript. On the other, I really like writing, and have quite a few stories in various states of unfinished.
	</p>
	<p class = "mb-4">
		I could go all pretentious and call myself a "Creator" or go general and say "I'm human" but I made this to try to explain what sets me apart from most other people, aside from being almost purely nocturnal.
	</p>
	<p class = "mb-4">
		Let's just go with "writer and UI designer" for now and hope I'm right. site design inspiration from <a href = "http://lisher.net/index.html" class = "text-lightpink">here</a> because his site was so cool I couldn't just copy some of it.
	</p>
	<p class = "mb-4">
		lorem ipsum to fill the rest and push the contacts section down: Duis vel tincidunt massa, vel porta eros. Integer tincidunt augue viverra elit interdum fringilla. Morbi feugiat nibh a venenatis hendrerit. Suspendisse pharetra vestibulum vulputate. Vivamus nec vehicula lacus. Aliquam in interdum ante, at varius felis.
	</p>
</div>