<div class = "flex flex-col lg:flex-row">
	<div class = "flex flex-col w-full lg:w-1/2">
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "text-3xl text-center">Class Project 2: "Scorn-u-copia"</h1>
			<img src = "/pics/project2.png" alt = "project 2">
			<p class = "mb-5 mx-3">
				My latest project consists of a food and recipe search app. 
				It was completed over the course of a week by myself and two others.
			</p>
			<p class = "mb-3 mx-3">
				I handled designing the front end, integrating the front end with the back end, and making sure branches merged smoothly. 
				If you wish, you can try it <a href = "https://frozen-fjord-19018.herokuapp.com/" target = "_blank" class = "text-lightpink">here</a> on heroku.
			</p>
		</div>
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "text-3xl text-center">GM48 Project: "In Somme Nia"</h1>
			<img src = "/pics/insommenia.png" class = "w-full" alt = "project 1">
			<p class = "mb-5 mx-3">
				This project was made for a game jam by me and a friend.
				It was made over 48 hours in which very little sleep was had using the Game Maker Studio 2 engine.
			</p>
			<p class = "mb-5 mx-3">
				The game is a simple wave shooter affair, with the unique mechanic of pillows thrown as ammunition which must be picked up to reload.
				Don't shoot the ground pillows, it's a bug and crashes the game.
			</p>
			<p class = "mb-3 mx-3">
				I worked on the programming and logic, and my friend drew the character and animations.
				If you wish to try it, the project is <a href = "https://gm48.net/game/1294/in-somme-nia" target = "_blank" class = "text-lightpink">here</a>,
				simply click the download button on the top left for the zip file.
			</p>
		</div>
	</div>
	<div class = "flex flex-col w-full lg:w-1/2 pt-0 lg:pt-64">
		<div class = "w-11/12 rounded mb-10 mx-auto bg-rose">
			<h1 class = "text-3xl text-center">Class Project 1: "Hipster's Paradise"</h1>
			<img src = "/pics/project1.png" alt = "project 1">
			<p class = "mb-5 mx-3">
				My first group project was another search app, this time for nearby breweries and sports venues. 
				It was completed over the course of a week by myself and two?(can't remember, actually) others.
			</p>
			<p class = "mb-3 mx-3">
				I had a similar responsibility in handling front end and integration with back end as project 2, however sir Bradley kept up managing the conflicts and merges.
				If you wish, you can try it <a href = "https://kbrowngithub.github.io/Project1/" target = "_blank" class = "text-lightpink">here</a> on just normal github pages.
			</p>
		</div>
	</div>
</div>